In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
%cd /content/drive/MyDrive/Github/dsKal100

/content/drive/MyDrive/Github/dsKal100

In [ ]:
%ls
%cd disc/disc02/
!ls

 cs-231n-python-colab.ipynb   lec/
 disc/                        other/
 grad_proj/                   proj/
 hw/                         'python-tutorial for cs231n Stanford.ipynb'
 lab/                         README.md
/content/drive/MyDrive/Github/dsKal100/disc/disc02
disc02-pandas-solutions.ipynb	   elections.csv
disc02-pandas-student-blank.ipynb  hw_grades.csv

# Discussion 2: Pandas Practice

We will begin our discussion of [Pandas](https://pandas.pydata.org/). You will practice:

* Selecting columns
* Filtering with boolean conditions 
* Counting with `value_counts`

In [ ]:
import pandas as pd
import numpy as np

## Pandas Practise

In the first Pandas question, we will be working with the `elections` dataset from lecture.

In [ ]:
elections = pd.read_csv("elections.csv")
elections.head(5)

,Year,Candidate,Party,Popular vote,Result,%
0,1824,Andrew Jackson,Democratic-Republican,151271,loss,57.210122
1,1824,John Quincy Adams,Democratic-Republican,113142,win,42.789878
2,1828,Andrew Jackson,Democratic,642806,win,56.203927
3,1828,John Quincy Adams,National Republican,500897,loss,43.796073
4,1832,Andrew Jackson,Democratic,702735,win,54.574789

### Question 5

We want to select the "Popular vote" column as a `pd.Series`. Which of the following lines of code will error?

- `elections['Popular vote']`
- `elections.iloc['Popular vote']`
- `elections.loc['Popular vote']`
- `elections.loc[:, 'Popular vote']`
- `elections.iloc[:, 'Popular vote']`

Run each line in the cell below and see for yourself!

In [ ]:
elections['Popular vote']
#elections.iloc['Popular vote']
#elections.loc['Popular vote'] #if only one item given, loc assumes it's a row?
elections.loc[:, 'Popular vote']
#elections.iloc[:, 'Popular vote']

0        151271
1        113142
2        642806
3        500897
4        702735
         ...
173    62984828
174      732273
175     4489235
176    65853514
177     1457226
Name: Popular vote, Length: 178, dtype: int64

### Question 6

Write one line of Pandas code that returns a `pd.DataFrame` that only contains election results from the 1900s.

In [ ]:
elections[(elections["Year"] >= 1900) & (elections["Year"] < 2000)]
elections.query("Year >= 1900 and Year < 2000")

     Year               Candidate        Party  Popular vote Result          %
54   1900         John G. Woolley  Prohibition        210864   loss   1.526821
55   1900  William Jennings Bryan   Democratic       6370932   loss  46.130540
56   1900        William McKinley   Republican       7228864    win  52.342640
57   1904         Alton B. Parker   Democratic       5083880   loss  37.685116
58   1904          Eugene V. Debs    Socialist        402810   loss   2.985897
..    ...                     ...          ...           ...    ...        ...
146  1996            Harry Browne  Libertarian        485759   loss   0.505198
147  1996         Howard Phillips    Taxpayers        184656   loss   0.192045
148  1996            John Hagelin  Natural Law        113670   loss   0.118219
149  1996             Ralph Nader        Green        685297   loss   0.712721
150  1996              Ross Perot       Reform       8085294   loss   8.408844

[97 rows x 6 columns]

### Question 7

Write one line of Pandas code that returns a `pd.Series`, where the index is the Party, and the values are how many times that party won an election. Hint: use `value_counts`.

In [ ]:
elections.query("Result == 'win'")["Party"].value_counts() #filters for just the wins, selects only the Party, then counts the values in the Party col

Republican               23
Democratic               22
Whig                      2
Democratic-Republican     1
National Union            1
Name: Party, dtype: int64

## Grading Assistance (Bonus)

Fernando is writing a grading script to compute grades for students in Data 101. Recall that many factors go into computing a student’s final grade, including homework, discussion, exams, and labs. In this question, we will help Fernando compute the homework grades for all students using a DataFrame, `hw_grades`, provided by Gradescope.

The Pandas DataFrame `hw_grades` contains homework grades for all students for all homework assignments, with one row for each combination of student and homework assignment. Any assignments that are incomplete are denoted by NaN (missing) values, and any late assignments are denoted by a True boolean value in the Late column. You may assume that the names of students are unique. Below is a sample of `hw_grades`.

In [ ]:
hw_grades = pd.read_csv("hw_grades.csv")
hw_grades.sample(5, random_state = 0)

     Name  Assignment      Grade   Late
28    Sid  Homework 9  82.517998   True
11    Ash  Homework 2  78.264844   True
10    Ash  Homework 1  98.421049  False
41  Emily  Homework 2  62.900313  False
2     Meg  Homework 3  89.785619  False

### Question 8a

Assuming there is a late penalty that causes a 10% grade reduction to the student’s
current score (i.e. a 65% score would become a 65% - 6.5% = 58.5%), write a line
of Pandas code to calculate all the homework grades, including the late penalty if
applicable, and store it in a column named `’LPGrade’`.

In [ ]:
#set LPGrade to current grade
hw_grades["LPGrade"] = hw_grades["Grade"]

## adjust grades of late assignments
hw_grades["LPGrade"][hw_grades["Late"] == True] = hw_grades["Grade"] - 0.1*hw_grades["Grade"]

##or in one line
hw_grades["LPGrade"] = hw_grades["Grade"]*(1 - .1*hw_grades["Late"])

hw_grades

<ipython-input-42-1ba8fea28122>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hw_grades["LPGrade"][hw_grades["Late"] == True] = hw_grades["Grade"] - 0.1*hw_grades["Grade"]

     Name   Assignment      Grade   Late    LPGrade
0     Meg   Homework 1        NaN  False        NaN
1     Meg   Homework 2  64.191844  False  64.191844
2     Meg   Homework 3  89.785619  False  89.785619
3     Meg   Homework 4  74.420033  False  74.420033
4     Meg   Homework 5  74.372434   True  66.935190
5     Meg   Homework 6  84.369535   True  75.932582
6     Meg   Homework 7  75.751182  False  75.751182
7     Meg   Homework 8  76.362904  False  76.362904
8     Meg   Homework 9  80.396096  False  80.396096
9     Meg  Homework 10  88.405920  False  88.405920
10    Ash   Homework 1  98.421049  False  98.421049
11    Ash   Homework 2  78.264844   True  70.438360
12    Ash   Homework 3  77.106061  False  77.106061
13    Ash   Homework 4  64.538548  False  64.538548
14    Ash   Homework 5  68.715955  False  68.715955
15    Ash   Homework 6  98.298883  False  98.298883
16    Ash   Homework 7  97.734029   True  87.960626
17    Ash   Homework 8  95.272971  False  95.272971
18    Ash   Homework 9  85.856422  False  85.856422
19    Ash  Homework 10  68.552992   True  61.697693
20    Sid   Homework 1  85.473281  False  85.473281
21    Sid   Homework 2        NaN  False        NaN
22    Sid   Homework 3  78.348163  False  78.348163
23    Sid   Homework 4  94.954527  False  94.954527
24    Sid   Homework 5  70.338012  False  70.338012
25    Sid   Homework 6        NaN  False        NaN
26    Sid   Homework 7  94.506973  False  94.506973
27    Sid   Homework 8  65.953923  False  65.953923
28    Sid   Homework 9  82.517998   True  74.266198
29    Sid  Homework 10  66.366211  False  66.366211
30  Smith   Homework 1  66.915797  False  66.915797
31  Smith   Homework 2  64.160918   True  57.744827
32  Smith   Homework 3  68.117504   True  61.305753
33  Smith   Homework 4  78.207572   True  70.386815
34  Smith   Homework 5  91.782997  False  91.782997
35  Smith   Homework 6        NaN  False        NaN
36  Smith   Homework 7  92.200688  False  92.200688
37  Smith   Homework 8        NaN  False        NaN
38  Smith   Homework 9  80.629497  False  80.629497
39  Smith  Homework 10  62.355957  False  62.355957
40  Emily   Homework 1  88.443827  False  88.443827
41  Emily   Homework 2  62.900313  False  62.900313
42  Emily   Homework 3  95.304463  False  95.304463
43  Emily   Homework 4  89.042313   True  80.138081
44  Emily   Homework 5  93.334648  False  93.334648
45  Emily   Homework 6  88.409227  False  88.409227
46  Emily   Homework 7  87.897197  False  87.897197
47  Emily   Homework 8  97.204112   True  87.483701
48  Emily   Homework 9  95.266910  False  95.266910
49  Emily  Homework 10  63.798879  False  63.798879

### Question 8b

Which of the following expressions outputs the students’ names and number of late
assignments, from least to greatest number of late assignments?

- `hw_grades.groupby([’Name’]).sum().sort_values()`
- `hw_grades.groupby([’Name’, ’Late’]).sum().sort_values()`
- `hw_grades.groupby([’Name’]).sum()[’Late’].sort_values()`
- `hw_grades.groupby([’Name’]).sum().sort_values()[’Late’]`

In [ ]:
hw_grades.groupby(["Name"]).sum().sort_values(by = "Late")
hw_grades.groupby("Name")["Late"].sum().sort_values()
#hw_grades.groupby(["Name", "Late"]).sum()
hw_grades.groupby(["Name"]).sum()["Late"].sort_values() #odd that this works, weird ordering...
#hw_grades.groupby(["Name"]).sum().sort_values()["Late"]

Name
Sid      1
Emily    2
Meg      2
Ash      3
Smith    3
Name: Late, dtype: int64

### Question 8c

If each assignment is weighted equally, fill in the blanks below to calculate each student’s overall homework grade, including late penalties for any applicable assignments.

*Hint:* Recall that incomplete assignments have NaN values. How can we use `fillna` to replace these null values?

```
hw_grades._________(_______) \
         .groupby(___________)[____________] \
         .agg(____________)
```

In [ ]:
#with giving everyone zeros for incompletes, averaging on grades with late penalties (LPGrade)
hw_grades.fillna(0).groupby("Name")["LPGrade"].agg(np.mean)

#without giving everyone zeros
hw_grades.groupby("Name")["LPGrade"].agg(np.mean)

Name
Ash      80.830657
Emily    84.297725
Meg      76.909041
Sid      78.775911
Smith    72.915291
Name: LPGrade, dtype: float64

### Question 8d

Of all the homework assignments, which are the most difficult in terms of the median grade? Order by the median grade, from lowest to greatest. Do not consider incomplete assignments or late penalties in this calculation.

Fill in the blanks below to answer this question.

*Hint:* Recall that incomplete assignments have NaN values. How can we use `dropna` to remove these null values?

```
hw_grades._________() \
         .groupby(___________)[____________] \
         .agg(____________) \
         .sort_values()
```

In [ ]:
hw_grades
hw_grades.groupby("Assignment").agg(np.median).sort_values(by = "Grade")

                 Grade  Late    LPGrade
Assignment
Homework 2   64.176381   0.0  63.546078
Homework 10  66.366211   0.0  63.798879
Homework 5   74.372434   0.0  70.338012
Homework 4   78.207572   0.0  74.420033
Homework 3   78.348163   0.0  78.348163
Homework 9   82.517998   0.0  80.629497
Homework 8   85.817938   0.0  81.923303
Homework 1   86.958554   0.0  86.958554
Homework 6   88.409227   0.0  88.409227
Homework 7   92.200688   0.0  87.960626